@model IEnumerable<mvcGames.Models.GamesViewModel>


@{
    ViewData["Title"] = "Games";
}

<h1>@ViewData["Title"]</h1>


<ul>
  @foreach (var game in Model)
    {

        <li>@game.Title</li>
        <li>@game.Description</li>
        <hr />
        
        
    }

</ul>
<div>
   
</div>