@model mvcGames.Models.GamesViewModel


@{
    ViewData["Title"] = "Games";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h4>This game is named: @Model.Title very cool</h4>
    <h4>Brief description: @Model.Description</h4>
 
</div>