@model IEnumerable<mvcGames.Models.GamesViewModel>


@{
    ViewData["Title"] = "Games";
}

<h1>@ViewData["Title"]</h1>




@foreach (var game in Model){

        <div class="game-info "  >@game.Title </div>
         <div class="reviewsBtn  ">

         <form asp-controller="Games" asp-action="Details" > 
            <button type="submit">Details</button>
         </form>

    </div>
        <div class=" mb-3">@game.Description</div>
   
}

